# Coursera Course Reviews

In [1]:
#importing the depandinces 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
stemmer = nltk.SnowballStemmer("english")
from nltk.corpus import stopwords
import string
import re
stopword=set(stopwords.words('english'))

# Data Collection

In [2]:
#loading the dataset in pandas dataframe
data=pd.read_csv('reviews.csv')

In [3]:
#check first five rows of the dataset
data.head()

   Id                                             Review  Label
0   0                               good and interesting      5
1   1  This class is very helpful to me. Currently, I...      5
2   2  like!Prof and TAs are helpful and the discussi...      5
3   3  Easy to follow and includes a lot basic and im...      5
4   4  Really nice teacher!I could got the point eazl...      4

In [4]:
#check last five rows of the dataset
data.tail()

            Id                                             Review  Label
107013  107013  Trendy topic with talks from expertises in the...      4
107014  107014  Wonderful! Simple and clear language, good ins...      5
107015  107015   an interesting and fun course. thanks. dr quincy      5
107016  107016  very broad perspective, up to date information...      4
107017  107017  An informative course on the social and financ...      4

In [5]:
#check shape of the dataset
data.shape

(107018, 3)

In [6]:
#check mathmatic analiysic of the dataset
data.describe()

                  Id          Label
count  107018.000000  107018.000000
mean    53508.500000       4.581145
std     30893.579891       0.860956
min         0.000000       1.000000
25%     26754.250000       4.000000
50%     53508.500000       5.000000
75%     80262.750000       5.000000
max    107017.000000       5.000000

In [7]:
#check more infomation about of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107018 entries, 0 to 107017
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      107018 non-null  int64
 1   Review  107018 non-null  object
 2   Label   107018 non-null  int64
dtypes: int64(2), object(1)
memory usage: 2.4+ MB

In [8]:
#check missing values of the dataset
data.isnull().sum()

Id        0
Review    0
Label     0
dtype: int64

In [9]:
#check duplicate value in dataset
data.duplicated().sum()

0

In [10]:
#check rendom dataset
data['Review'][0]

'good and interesting'

In [11]:
#cleaning the dataset
def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = [word for word in text.split(' ') if word not in stopword]
    text=" ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text=" ".join(text)
    return text
data["Review"] = data["Review"].apply(clean)

In [12]:
#after cleaning check dataset
data['Review'][0]

'good interest'

In [13]:
#loading Modeles
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [14]:
#spliting the dataset X and Y
x = np.array(data["Review"])
y = np.array(data["Label"])

In [15]:
# string data to convert number
cv = CountVectorizer()
X = cv.fit_transform(x)

In [16]:
#spliting the dataset in Train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [17]:
# Loading the Model DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)

DecisionTreeClassifier()

# Model Evalution

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
#traing dataset accuracy score
train_test = clf.predict(X_train)

In [20]:
accuracy_score(train_test,y_train)

0.9841148085130121

In [21]:
#test dataset accuracy score
test_data = clf.predict(X_test)

In [22]:
accuracy_score(test_data, y_test)

0.687648657832144

In [23]:
sample = "good and interesting"
data = cv.transform([sample]).toarray()
print(clf.predict(data))

[5]